*{
    margin:0px ;
    padding: 0px;
}
#hero{ width: 100%;
    height: 250px;
    padding-bottom: 0px;
    background-color: #2a2a2a; }

#navbar{
   
    display: flex;
    top: 0px;
    justify-content: space-between;
    // background-image: url(./image/aboutimage.jpg);

    .navsection{
        position: relative;
        top: 20px;
        ul{
            .list2{ 
                :hover{
                    border-bottom: 2px solid red;
                }
            
            }
        }
    }
    .navsection2{
        position: relative;
        top: 20px;
    }
    
 div{
    

ul{
    display: flex;
    margin-top: 2px;
    align-items: center;
    list-style-type: none;
    padding: 10px;
    :hover{
        border-bottom: #ffffff;
    }
    li {
        position: relative; /* Necessary for absolute positioning of dropdown */
    }
    
    #dropdown {
        display: none;

        ul{
            display: block;
            width: 160px;
            li{
                a{
                font-size: 12px;
            }
        }   
    
    }

    }
    
    li:hover #dropdown {
        display: block;
        position: absolute;
        z-index: 333;
        background-color: grey;
        width: 170px;
        height: 230px;
        font-size: 3px;
    }

            ul{ 
                margin: 0px;
                padding: 0px;
                 li{  
                    display: block;
                    padding: 20px; 

                }
            }
    }
        :hover 
        {
            color: red;
            border-bottom: #ffffff;
        }
        
        
        a {color: #ffffff;
        font: 20px overpass, sans-serif ;
        padding: 9px 14px;
        text-decoration: none;
        span{
            position: relative;
            top: 5px;
        }
    }}
}

#aboutbox{
    position: relative;
    top: -60px;
     width:75%;
     left: 160px;
    // height: 180px;
    justify-content: center;
    background-color: #747473;
h1
{
    text-align: center;
    padding: 80px 10px;
    font-size: 45px;
    color: #ffffff;
}
}

.love
{
    margin-left: 430px;
    width: 35%;
    height: 130px;
    text-align: center;

    h1{
        font-size: 35px;
    }
    
    
    h5{
        opacity: 0.5;
        font-size: 23px;
    }
    p{
        opacity: 0.6;
    }
}

    #subscribe{
        width: 30%;
        height: 500px;
        background-image: url(./image/ac2-generic-4.jpg);
        opacity: 0.8;
        border-radius: 15%;
        position: relative;
        top: -30px;
        left: 470px;
        text-align: center;
        

      .outerbox{
           position: relative;
           top: 70px;
           justify-content: center;
           align-items: center;
      input{
        border-radius: 10px;
        width: 200px;
        height: 20px;
        background-color: #2a2a2a;
        opacity: 0.6;

        :hover{
       background-color: #AFE6C3;
       color: #ffffff;

        }
      }

        h4{
           font-size: 25px;
           font-weight: 900;
           padding-top: 15px;

    }  .button{ 
      input{
        background-color: #C2FBD7;
   border-radius: 50px;
   border-width: 0;
   box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
   color: #008000;
   cursor: pointer;
   display: inline-block;
   font-family: Arial, sans-serif;
   font-size: 1em;
   height: 50px;
   padding: 0 25px;
   transition: all 200ms;
   left: 500px;
   

 
    }
    :hover{
        background-color: #AFE6C3;
    transform: scale(1.05);
    }

    }
      }
}

    #footer{
        margin-top: 30px;
        margin-bottom: 0px;
        display: flex;
        height: 200px;
        width: 100%;
        background-color: #2a2a2a;
        justify-content: space-around;
        
        div{
            h1{ position: relative;
                left: -13px;
                color: #ffffff;
                padding: 20px;
            }
            h3{
                opacity: 0.6;
                color: #ffffffcc;
                font-size: 16px;
                padding: 5px;
            }
            ul{
                display: flex;
                left : px;
                list-style-type: none;
                gap: 10px;
            }
        }
    }
    .footer2{
         margin-top: 0px;
         height: 200px;
        width: 100%;
        background-color: #2a2a2a;
    
        #line{
            background-color: #C2FBD7;
            height: 1px;
            opacity: 0.3;
            
        }
        
         div{
            position: relative;
            text-align: center;
        img{
            width: 150px;
            height: 40px;
           
        }
         }
        
        
        
        
       
    }
    